<h1>Destinations</h1>
<% @destinations.each do |dest| %>
  <ul>
    <li>
      <%= link_to dest.city, dest %>
    </li>
  </ul>
<% end %>

<!-- I don't know CSS well but if we put a div here could we have a link
at the top of the page that says "most popular," which just directs the screen to the div. 

It became clear that if we only sorted the index by popularity, then if there is no itinerary linked to a destination, the destination won't show up. It makes the most sense
to have the sorted list either here or on it's own route. -->
<h1>Most Popular Destinations:</h1>
<ul>
<% Destination.most_popular.each do |destination| %>
  <li><%= link_to destination.full_info, destination %></li><br>
<% end %>
</ul>
<ul>
<h1>Most Liked Destinations: </h1>
  <% Destination.most_liked.each do |destination| %>
  <li><%= link_to destination.full_info, destination %></li><br>
<% end %>
</ul>

<ul><h1>Trending Destinations:</h1>
<% if Comment.all.count > 0 %>
  <% Destination.trending.each do |destination| %>
    <li><%= link_to destination.full_info, destination %></li><br>
  <% end %>
<% end %>

<!-- trending destinations is based on recent comment count. 
Of the most recent 20 percent of comments, the destinations are listed by the ones with the most comment hits. -->