<link rel="stylesheet" href="./application.css">
<h1><%= @destination.city %></h1>
<h4><%= @destination.country %></h4>

<% @destination.itineraries.each do |itinerary| %>
<%= link_to itinerary.title, itinerary %>
<% end %>
