/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 h1 {
   text-align: center;
   color: black;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 }

 body {
   padding:15px;
 }
 h2, h3, p {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 }

 #mantra {
   text-align: center;
   font-style: italic ;
 }

 background-color {
   color: whitesmoke;
 }

 a {
   color: grey
 }

 .nav ul {
   list-style: none;
   text-align: right;
 }

 .nav li {
  display: inline-block;
 }

 .nav a {
 text-decoration: none;
 }

 #logout {
   float: right
 }


 .button input {
  background-color: grey; 
 border: none;
 color: white;
 padding: 8px 32px;
 text-align: center;
 text-decoration: none;
 display: inline-block;
  font-size: 14px;
}

.itin {
  outline: 0.5rem solid black;
  border-radius: 12px;
  font: bold 1rem sans-serif;
  margin: 2rem;
  padding: 1rem;
  outline-offset: 0.5rem;
}

#itinaddlink a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.home {
  background-image: url(https://cdn.shopify.com/s/files/1/0701/7993/files/bold-tuesday-sold-to-map_2048x.gif?v=1542602047);
}

.logbox {
text-align: center;
background-color: rgba(0, 12, 117, 0.459);
padding: 30px;
width: 200px;
display: inline-block;
color:white
}

#special a {
  color: white
}
.wrapper {
  text-align: center;
}

.image-gallery {
  display: grid;
  grid-template-columns: 1fr;
 grid-gap: 30px;
 width: 30%;
 margin: 0 auto;
}

.image-titles {
  text-align: center;
}

#comment-name {
  color: rgb(0, 34, 85);
}